:root {
  --main-title-color: #2e2f42;
  --second-title-color: #fff;
  --main-background-color: #f4f4fd;
  --description-color: #434455;
  --accent-color: #404bbf;
  --contacts-link-color: #434455;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 72px;
  color: var(--main-title-color);
}

/* ================== HEADER =================== */

.first-letter-logo {
  color: #4d5ae5;
}

.logo-link-header {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  color: var(--main-title-color);
}

.mail-link {
  margin-right: 40px;
}
.mail-link,
.phone-number-link {
  color: var(--contacts-link-color);
}

.adress {
  font-style: normal;
}

.menu-link:hover,
.menu-link:focus,
.phone-number-link:hover,
.phone-number-link:focus,
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

/* .header-nav .link.current  */

.header-container,
.header-nav,
.menu,
.contact-menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.adress {
  margin-left: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

/* ================== HEADER / =================== */

/* ================== MAIN =================== */

/* HERO SECTION 1 */

.images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.hero-section {
  text-align: center;
  height: 600px;
  background-color: #2e2f42;
}
.hero-section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  padding-top: 180px;
  color: var(--second-title-color);
}

.button {
  padding: 16px 32px 16px 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;

  color: var(--second-title-color);
  background-color: #4d5ae5;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;

  margin-top: 48px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* SECOND SECTION */
.second-section-title {
  padding-bottom: 8px;
}

.second-section-list {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.second-section-item {
  width: 264px;
}

.second-section-description {
  color: var(--description-color);
}

.second-section-item:not(:last-child) {
  margin-right: 24px;
}

/* THIRD SECTION */

.third-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
}

/* FOURTH SECTION */

.fourth-section-description {
  color: var(--description-color);
}
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-background-color);
}

.fourth-section-list {
  display: flex;
  gap: 24px;
}

.fourth-images-title {
  text-align: center;
}

.fourth-section-description {
  text-align: center;
  margin-top: 8px;
}

.fourth-section-item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.card-content-team {
  padding: 32px 16px;
}

/* ================== MAIN / =================== */

/* ================== PORTFOLIO =================== */
.menu-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-project-item {
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
.images-title {
  text-align: left;
}
.portfolio-project-descr {
  margin-top: 8px;
  color: var(--description-color);
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.menu-portfolio-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--main-background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  margin-top: 99px;
}
.menu-portfolio-link:not(:last-child) {
  margin-right: 24px;
}
.porfolio-project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 69px;
  margin-bottom: 120px;
  row-gap: 48px;
  justify-content: space-between;
}
.menu-portfolio-btn:hover,
.menu-portfolio-btn:focus {
  color: var(--second-title-color);
  background-color: var(--accent-color);
}
.menu-portfolio-btn:hover,
.menu-portfolio-btn:focus {
  border-color: var(--accent-color);
} /* ================== PORTFOLIO / =================== */

/* ================== FOOTER =================== */
.footer {
  background-color: var(--main-title-color);
}

.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 16px;
}

.footer-description {
  color: #e7e9fc;
  padding-bottom: 100px;
  width: 264px;
}

/* ================== FOOTER / =================== */
